{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="main">
    <section id="hero">
        <article id="herotxt">
            <p>Chef's Special</p>
            <a href="#" id="heroinnerurl"><p id="herourl">View</p></a>
        </article>
    </section>
    <section id="mainbody">
        <article class="displayops">
            <p class="opstxt">Indo-Canadian Cusine</p>
            <div class="opsbody">
                <img class="opsimg" src="{% static 'images/img0.jpg' %}" />
            </div>
            <div class="opsurl">
                Classic Menu >>
            </div>
        </article>
        <article class="displayops">
            <p class="opstxt">Reserve the table</p>
            <div class="opsbody">
                <img class="opsimg" src="{% static 'images/reserve3.jpg' %}" />
            </div>
            <div class="opsurl">
                Book Now >>
            </div>
        </article>
        <article class="displayops">
            <p class="opstxt">Operating Hours</p>
            <div class="opsurl">
                <hr/>
            </div>
            <div >
                <table class="opshrs">
                    <tr>
                        <th>Brunch</th>
                    </tr>
                    <tr>
                        <td>Mon - Fri</td>
                        <td> ------------- </td>
                        <td> 0900 - 1100</td>
                    </tr>
                    <tr>
                        <td>Sat - Sun</td>
                        <td> ------------- </td>
                        <td>0800 - 1100</td>
                    </tr>
                </table>
                <table class="opshrs">
                    <tr>
                        <th>Lunch</th>
                    </tr>
                    <tr>
                        <td>Mon - Fri</td>
                        <td> ------------- </td>
                        <td>1200 - 1500</td>
                    </tr>
                    <tr>
                        <td>Sat - Sun</td>
                        <td> ------------- </td>
                        <td>1200 - 1600</td>
                    </tr>
                </table>
                <table class="opshrs">
                    <tr>
                        <th>Dinner</th>
                    </tr>
                    <tr>
                        <td>Mon - Fri</td>
                        <td> ------------- </td>
                        <td>1800 - 2200</td>
                    </tr>
                    <tr>
                        <td>Sat - Sun</td>
                        <td> ------------- </td>
                        <td>1800 - 0000</td>
                    </tr>
                </table>
                <table class="opshrs"><tr><td>*All times are in Eastern Time Zone</td></tr></table>
            </div>
            <div class="opsurl">
                <hr/>
            </div>
        </article>
    </section>
    <br/><br/><br/>
</section>
{% endblock %}