{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <met name="author" content="Lakshmi Shashank Ch" />
    <meta name="description" content="Peach house is a family owned restaurant in Mississauga established in 1924 which is focused on serving authentic and finger lickingly deliciuos organic Indo-Canadian cusine"/>
    <title>Peach House</title>
    <link rel="preload" as="style" href="{% static 'css/style.css' %}" onload="this.rel='stylesheet'" />
</head>
<body>
    <header>
        <div id="logo">
            <img id="logoimg" src="{% static 'images/logo4.png' %}" alt="Peach House Logo">
            <h1 id="logotxt">PEACH HOUSE</h1>
        </div>
        <hr/>
    </header>
    
</body>
</html>